<h1>New Bookmark</h1>
<%= form_for @bookmark, url: bookmarks_path do |f| %>

	  <%= f.text_field :url, :placeholder => "url"%>
	  <%= f.hidden_field(:user_id, value: @bookmark.user_id) %>

	  <%= f.submit "Submit" %>

<% end %>